.sidebar {
    border-right: 1px solid #dee2e6;
    height: 100%;
}
.content {
    padding-left: 15px;
}
.list-group-item {
    cursor: pointer;
}
.icon {
    float: right;
}
.hidden-section {
    display: none;
}
.list-group-item-action {
    background-color: #f8f9fa;
    border-left: 3px solid transparent;
}
.list-group-item-action:hover {
    background-color: #e9ecef;
    border-left: 3px solid #007bff;
}
.sub-section {
    margin-left: 20px;
    border-left: 3px solid #007bff;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
}